# python version: 3.10
--only-binary=:all:
mujoco
numpy ==1.26.4
pillow
pybind11-stubgen
matplotlib
imageio
imageio[ffmpeg] #both?
scikit-video @ git+https://github.com/scikit-video/scikit-video.git@master
#the version on pypi of this myosuite dependency depends on python2
myosuite
#just for the test policy:
torch ==2.0.1
mjrl @ git+https://github.com/aravindr93/mjrl.git@pvr_beta_1vk
panda
zipp
simple_pid